/* @font-face { font-family: Delicious; src: url('Awesome\ Free\ Font.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Awesome\ Free\ Font.otf');} */

.social-media-logo {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    max-block-size: 40px;
    font-size: x-large;
    color: white;
}

.title {
    display: flex;
    color: white;
    font-style: italic;
    /* padding: 60px 0 0 90px; */
    font-size: 30px;
    text-decoration: none;
    flex-direction: column; 
}

.title img {
    width: 200px;
    padding: 0 0 0 40px;
}



body {
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: rgb(22, 57, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: sticky; */
    padding: 10px;
}

/* maincontainer.sticky{
    padding: 5px 100px;
    background: #fff;
} */

.container {
    max-width: 1200px;
    width: 100%;
}


nav {
    /* background-image: url('photo-1444858291040-58f756a3bdd6.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 5px 0px;
    text-decoration: none;
}



.nav-links {
    font-size: 20px;
    color: peachpuff;
    text-decoration: none;
  }

.nav-button {
    display: flex;
    justify-content: end;
    gap: 26px;
    border: none;
    /* width: 100%; */
}

.nav-button .client-portal button {
    padding: 15px 15px 15px 15px;
    background-color: peachpuff;
    color: black;
    word-spacing: 0.5px;
    letter-spacing: 0.6px;
    border-radius: 15px;
    
}

.nav-button .client-portal button:hover {
    background-color: rgb(134, 165, 243);
    /* color: rgb(134, 165, 243); */
    transition: all 0.2s ease-out;
    font-weight: bold;
  }

.nav-button .free-quote button {
    padding: 15px 15px 15px 15px;
    background-color: rgb(134, 165, 243);
    word-spacing: 0.5px;
    letter-spacing: 0.6px;
    border-radius: 15px;
}

.nav-button .free-quote button:hover {
    background-color: peachpuff;
    /* color: rgb(134, 165, 243); */
    transition: all 0.2s ease-out;
    font-weight: bold;
  }

.nav-links:hover {
    color: rgb(169, 191, 246);
    transition: all 0.2s ease-out;
  }
.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
    text-decoration: none;
    /* padding: 0px 0px 0 0;     */
}

/* .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
   
  }
  
  .nav-menu.active {
    background: darkgray;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
    .main-container{
        position: relative;
    }
    .nav-menu {
    
        display: grid;
        grid-template-columns: auto;
        background: red;
        margin: 0;
        width: 80%;
        position: absolute;
        top: 80px;
        transition: all 0.5s ease;
   
        } */
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: peachpuff;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: rgb(8, 63, 8);
    border-style:solid;
    border-radius: 5px;
    /* min-width: 160px; */
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {color: rgb(134, 165, 243);}

.dropdown:hover .dropdown-content {
    display: block;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 90%;
    background-color: rgb(134, 165, 243);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* .farm-image {
    height: 300px;
    min-height: 500px;
} */

.website-max-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.website-max-width img {
    height: 400px;
    /* background: linear-gradient(45deg, #020202, 0%) */
    
}

.home-page {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 40px;
    font-size: 18px;
    align-items: center;
   

}
.quote1 {
    font-size: 20px;
    font-weight: bold;
}

.quote1-refer {
    padding: 0 0 0 80px;
}

.about-us {
    text-align: center;
    max-width: 1200px;
    width: 50%;
    /* font-size: 10px; */
    padding: 200px 0 200px 0;
}



.our-services {
    text-align: center;
    max-width: 1200px;
    width: 50%;
    padding: 200px 0 200px 0;
}

.how-we-work {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    /* padding: 200px 0 200px 0; */
}
.steps-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.process1 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-height: 450px;
    padding: 10px 20px;
    margin-left: 50px;
} 

.process1-text{
    margin: 10px 50px;
    align-content:start;
    /* text-align: start; */
    justify-content: left;
}
.process1 p{
    max-width: 400px;
}

.process2 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-height: 450px;
    padding: 10px 20px;
} 

.process2-text{
    margin: 10px 50px;
    align-content: right;
    justify-content: right;
}
.process2 p{
    max-width: 400px;
}

.process3 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-height: 450px;
    padding: 10px 20px;
} 

.process3-text{
    margin: 10px 50px;
    align-content: right;
    justify-content: right;
}
.process3 p{
    max-width: 400px;
}
.process4 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-height: 450px;
    padding: 10px 20px;
} 

.process4-text{
    margin: 10px 50px;
    align-content: right;
    justify-content: right;
}
.process4 p{
    max-width: 400px;
}

.process5 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-height: 450px;
    padding: 10px 20px;
} 

.process5-text{
    margin: 10px 50px;
    align-content: right;
    justify-content: right;
}
.process5 p{
    max-width: 400px;
}
.process6 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-height: 450px;
    padding: 10px 20px;
} 

.process6-text{
    margin: 10px 50px;
    align-content: right;
    justify-content: right;
}
.process6 p{
    max-width: 400px;
}
/* .steps-page img {
    display: flex;
    justify-content: right;
    align-items: right;
    align-content: right;

}  */

/* .how-we-work video{
    display: flex;
    justify-content: right;
    max-width: 1200px;
    width: 55%;
    flex-direction: row;
    /* gap: 400px; */
    /* padding: 100px; */
.contact-us {
    text-align: center;
    max-width: 1200px;
    width: 90%;
    padding: 200px 0 200px 0;
}

.footer {
    /* text-align: center; */
    /* max-width: auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0 280px 0;
    background-color: rgb(35, 33, 33);
    color: rgb(246, 225, 208);
}
.footer ul{
    list-style: none;
}

.footer li {
    float: none;
}

.foot-row {
    display: flex;
    flex-wrap: wrap;
}

.foot-container {
    /* max-width: 1170px; */
    margin: auto;
}

.footer-col {
    /* width: %; */
    padding: 0 15px;

}